@media screen and (max-width: 768px) {
  .nav-link,
  .nav-item {
    border-bottom: solid white;
  }
}

@media screen and (min-width: 768px) {
  .nav-link,
  .nav-item {
    border-right: solid white;
  }
}

@media screen and (max-width: 576px) {
  .skill-icon {
    margin-bottom: 50px;
  }
}

.nav-icon {
  height: 25px;
}

.hero-img {
  background-image: url("./assets/cover-img.jpg");
  background-size: 100% 100%;
  height: 425px;
}

.hero-main {
  z-index: 10;
}

.shadow-overlay {
  background-color: black;
  height: 53.5%;
  opacity: 25%;
}

.arrow-icon {
  padding-left: 10px;
}

.skill-icon {
  height: 100px;
  width: 100px;
  background-color: light;
}

.skill-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  height: 40px;
}

form input,
form textarea,
form button {
  width: 100%;
  margin-bottom: 15px;
}

li a {
  color: white;
}
