.nav-icon {
    height: 25px;
}

#arrow-icon {
    padding-left: 10px;
}

.skill-icon {
    height: 100px;
    width: 100px;
    background-color: white;
}

.skill-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    height: 40px;
}